/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* BIENVENIDA Y FORMULARIO */
.pantalla-activa {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f8f5ef, #ffffff);
    text-align: center;
    padding: 20px;
}

.pantalla-oculta {
    display: none;
}

.bienvenida-content h1 {
    font-size: 60px;
    color: #181818;
    margin-bottom: 20px;
}

.bienvenida-content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #4b4b4b;
}

.formulario-box {
    background: white;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.formulario-box h2 {
    margin-bottom: 20px;
}

.formulario-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

/* FORMULARIO CENTRADO */
#formulario-acceso {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f8f5ef, #ffffff);
    padding: 20px;
}

.formulario-box {
    background: #ffffff;
    padding: 50px 40px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.formulario-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f5ef;
}

img {
    max-width: 100%;
}

/* CONTENEDOR GENERAL */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(
        90deg,
        rgba(241,237,220,1) 0%,
        rgba(255,255,253,1) 50%,
        rgba(252,246,232,1) 100%
    );
    padding: 70px 0;
}

/* MENU */
.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    font-size: 25px;
    color: #FF3C2A;
    text-transform: uppercase;
    font-weight: 800;
}

/* NAVBAR */
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 19px;
    padding: 20px;
    color: #111111;
    display: block;
    font-weight: 500;
}

.menu .navbar ul li a:hover {
    color: #FF3C2A;
}

/* MENU RESPONSIVE */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* CARRITO */
.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    background-color: rgba(78, 75, 80, 0.7);
    padding: 20px;
    min-width: 400px;
    border-radius: 10px;
}

/* TABLA CARRITO */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #ffffff;
    padding: 8px;
    text-align: left;
}

/* BOTÓN BORRAR */
.borrar {
    background-color: #FF3C2A;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

/* CONTENIDO HEADER */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

/* TEXTO */
.header-txt {
    flex-basis: 40%;
}

.header-txt h1 {
    font-size: 70px;
    color: #181818;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 800;
}

.header-txt p {
    color: #4b4b4b;
    font-size: 18px;
    margin-bottom: 25px;
}

/* BOTONES */
.btn-1,
.btn-3 {
    display: inline-block;
    padding: 12px 35px;
    color: #FF3C2A;
    border: 2px solid #FF3C2A;
    text-transform: capitalize;
    border-radius: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-1:hover,
.btn-3:hover {
    color: #ffffff;
    background-color: #FF3C2A;
}

/* IMAGEN */
.header-img {
    flex-basis: 60%;
    text-align: center;
}

.header-img img {
    width: 100%;
    max-width: 600px;
}

/* RESPONSIVE 
@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f8f5ef;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-bottom: 40px;
    }

    .header-txt h1 {
        font-size: 50px;
    }

    .header-img img {
        max-width: 400px;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }
} */

.oferts {
    padding: 100px 0;
}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 20px;
}

.oferts p {
    margin-bottom: 30px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ofert-1 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: #f7fafa;
    border-radius: 10px;
}

.ofert-1 img {
    width: 130px;
    height: 170px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 10px;
}

.Precio {
    color: #FF3C2A;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-3 {
    padding: 4px 20px;
}

.logan-1 {
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(images/ch1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-1 h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.logan-1 p {
    font-size: 18px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 20px;
}

.btn-2 {
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.promotion {
    padding: 80px 0;
    background-color: #f7f7f7;
}

.promotion-content {
    display: flex;
}

.promotion-txt {
    flex-basis: 50%;
}

.promotion-img {
    flex-basis: 50%;
    text-align: center;
}

.promotion-img img {
    width: 250px;
}

.product {
    padding: 100px 0;
    text-align: center;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.blog-container {
    padding: 50px 0 100px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-container h2 {
    font-size: 40px;
    color: #181818;
    margin-bottom: 10px;
    text-align: center;
}

.blog-container > p {
    text-align: center;
    margin-bottom: 40px;
    color: #4b4b4b;
    font-size: 18px;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.blog-1 img {
    width: 100%;
    display: block;
}

.blog-txt {
    padding: 30px;
}

.blog-txt p {
    text-align: left;
    font-size: 17px;
    line-height: 1.5;
    color: #4b4b4b;
    margin-bottom: 25px;
}

.btn-4 {
    display: inline-block;
    border: 1px solid #181818;
    padding: 8px 25px;
    font-size: 17px;
    text-transform: capitalize;
    color: #181818;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 10px;
}

.link a {
    font-size: 17px;
    color: #181818;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #FF3C2A;
}

@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f8f5ef;
        display: none;
        padding: 20px 0;
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li a {
        padding: 15px;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 120px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .header-txt h1 {
        font-size: 50px;
    }

    .header-img {
        flex-basis: 100%;
    }

    .header-img img {
        max-width: 400px;
    }

    .submenu:hover #carrito {
        min-width: 300px;
    }

    .oferts {
        padding: 50px 20px;
    }

    .oferts-content {
        flex-direction: column;
        align-items: center;
    }

    .ofert-1,
    .logan-1 {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 30px;
    }

    .promotion-content {
        flex-direction: column;
        text-align: center;
    }

    .promotion-txt,
    .promotion-img {
        flex-basis: 100%;
    }

    .promotion-img {
        margin-top: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-content {
        flex-direction: column;
        align-items: center;
    }

    .blog-1 {
        flex-basis: 100%;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .link {
        margin-bottom: 30px;
    }
}